.content-list{
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;


  .movie-title{
    width: 100%;
    background-color: $background-list;
    padding: 1rem 2rem;
    margin: 5px 0;
    border-radius: 8px;
  }
}

.container-details {
  .details-img{
    width: 15%;
    padding: 20px 0 20px;
    float: left;
  }

  .content-details{
    width: 60%;
    margin: 0 auto;
    padding-top: 60px;
    display: block;

    p{
      line-height: 1.8rem;
      font-weight: 100;
      font-size: 0.9rem;
    }
  }
}
