@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$font: 'Open Sans';
$heading-color: #fff;
$background:#36325c;
$background-list:#3975aa;
$submit:#47c1f1;
$submit-hover:#37a9d6;
